@import "../../../../../teufels_thm_custom/Resources/Private/Assets/Less/Import/index.less";

.tx-teufels-cpt-cnt-bs-tab-collapse {

  .section__l--13 .section_count span {
    display: none;
  }

  .section__doktype--116{
    .layout-17{
      text-align: left !important;
      text-align: -webkit-left !important;

      .focuspoint{
        @media screen and (min-width: 768px){
          padding-bottom: 82.25%;
        }
        @media screen and (min-width: 1200px){
          padding-bottom: 86%;
        }
        @media screen and (min-width: 1440px){
          padding-bottom: 56%;
        }
      }
    }
  }

  .nav-tabs{
    background: @brand-primary;
    border-bottom: none;
    li{
      background: none;
      padding: 0px;
    }
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background: @brand-primary;
    padding: 25px 15px 0px 15px;//20px 15px;
    color: @brand-secondary;
    background: url(/fileadmin/user_upload/Icons/arrow-li.png) no-repeat center -380%;
  }
  .nav > li > a:hover, .nav > li > a:focus{
    background-color: @brand-primary;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
    cursor: default;
  }
  .nav-tabs > li > a{
    color: @white;
    padding: 20px 15px;
  }
  .nav-tabs > li > a:hover{
    border: none;
    color: @brand-secondary;
    background-color: @brand-primary;
  }
  .nav-tabs li:nth-child(1){
    margin-left: 10%;
    @media screen and (max-width: 991px) {
    margin-left: 0%;
    }
  }
  .section__doktype--116{
    padding: 30px 0px;
  }
  .section__doktype--118{
    .container{
      padding: 60px 0px 100px 0px;
    }
    ul{

      list-style-type: none;

      li{
        text-align: -webkit-left;
        height: 78px;
        background: url(/fileadmin/user_upload/Icons/checked.png) no-repeat;
        background-position: left top;
        padding-top: 17px;
        padding-left: 90px;
        margin-bottom: 25px;
      }
    }
  }

}
