<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:teufels="http://typo3.org/ns/TEUFELS/TeufelsVh/ViewHelpers">

    <f:layout name="Default" />

    This Template is responsible for creating a table of domain objects.

    If you modify this template, do not forget to change the overwrite settings
    in /Configuration/ExtensionBuilder/settings.yaml:
    Resources:
    Private:
    Templates:
    List.html: keep

    Otherwise your changes will be overwritten the next time you save the extension in the extension builder

    <f:section name="main">

        <ul class="nav nav-tabs" role="tablist">
            <f:for each="{tabs}" as="tab" iteration="i" key="index">
                <li data-toggle="tab" class="{f:if(condition: i.isFirst, then: ' active')}"><a href="#tab-page_{tab.renderPageId}" aria-controls="tab-page_{tab.renderPageId}" role="tab" data-toggle="tab">{tab.title}</a></li>
            </f:for>
        </ul>

        <div class="tab-content">
            <f:for each="{tabs}" as="tab" iteration="i" key="index">
            <div role="tabpanel" class="tab-pane {f:if(condition: i.isFirst, then: ' active')}" id="tab-page_{tab.renderPageId}">
                <f:cObject typoscriptObjectPath="lib.site.anchor" data="{pageUid: '{tab.renderPageId}'}" />
            </div>
            </f:for>
    </f:section>
</div>